In [59]:
import pandas as pd

In [60]:
df=pd.read_csv('loan_data.csv')

In [61]:
df

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [6]:
nums_cols=df.select_dtypes(include=['float64','int64']).columns.tolist()

In [7]:
Q1=df[nums_cols].quantile(0.25)

In [8]:
Q3=df[nums_cols].quantile(0.75)

In [9]:
IQR=Q3-Q1

In [10]:
outliers=((df[nums_cols] < (Q1-1.5*IQR))|(df[nums_cols]>(Q3+1.5*IQR))).any(axis=1)

In [11]:
df_clean=df[~outliers]

In [12]:
df.shape

(9578, 14)

In [13]:
df_clean.shape

(4975, 14)

In [14]:
df_clean

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
9,1,debt_consolidation,0.1221,84.12,10.203592,10.00,707,2730.041667,5630,23.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7684,1,debt_consolidation,0.1348,379.95,10.752343,3.93,692,1470.000000,6372,52.2,1,0,0,0
7685,1,major_purchase,0.0714,247.52,10.819778,22.13,772,5430.041667,13088,42.6,0,0,0,0
7686,1,major_purchase,0.0988,161.06,10.833681,22.91,717,3690.000000,13232,63.9,1,0,0,0
7688,1,home_improvement,0.0788,450.44,11.474351,1.91,777,5820.000000,3351,0.4,2,0,0,0
7689,1,all_other,0.1025,194.31,10.819778,20.66,707,1920.000000,19882,51.2,2,0,0,0

In [15]:
from sklearn.model_selection import train_test_split

In [33]:
x=df_clean.drop(['not.fully.paid'],axis=1)

In [34]:
y=df_clean['not.fully.paid']

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
scalar=StandardScaler()

In [21]:
x_train=scalar.fit_transform(x_train)

ValueError: could not convert string to float: 'debt_consolidation'

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le=LabelEncoder()

In [24]:
df_clean['purpose']=le.fit_transform(df_clean['purpose'])

C:\Users\We Store\AppData\Local\Temp\ipykernel_13336\1931399042.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['purpose']=le.fit_transform(df_clean['purpose'])

In [36]:
df_clean

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
9,1,2,0.1221,84.12,10.203592,10.00,707,2730.041667,5630,23.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7684,1,2,0.1348,379.95,10.752343,3.93,692,1470.000000,6372,52.2,1,0,0,0
7685,1,5,0.0714,247.52,10.819778,22.13,772,5430.041667,13088,42.6,0,0,0,0
7686,1,5,0.0988,161.06,10.833681,22.91,717,3690.000000,13232,63.9,1,0,0,0
7688,1,4,0.0788,450.44,11.474351,1.91,777,5820.000000,3351,0.4,2,0,0,0
7689,1,0,0.1025,194.31,10.819778,20.66,707,1920.000000,19882,51.2,2,0,0,0

In [37]:
x_train

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec
3782,1,2,0.1253,167.34,10.545341,19.14,682,2220.000000,19876,77.0,0,0,0
1932,1,2,0.1442,343.83,10.491274,22.43,667,2877.000000,9469,59.2,1,0,0
7675,1,1,0.1385,218.27,10.691945,20.54,672,3120.041667,26428,48.2,2,0,0
1098,1,0,0.1545,174.44,10.596635,24.57,662,2435.000000,1851,92.5,3,0,0
4480,1,2,0.0894,317.72,10.915088,19.75,742,9031.958333,12377,39.7,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6896,1,1,0.1136,493.67,10.819778,4.10,767,3799.041667,5694,21.2,2,0,0
763,1,2,0.1513,680.69,11.225243,19.36,662,2669.958333,20658,55.4,0,0,0
4795,1,0,0.0774,218.54,11.277203,3.17,782,4590.958333,482,1.6,2,0,0
5875,1,2,0.1253,585.67,10.691945,21.63,717,3690.041667,20010,85.1,0,0,0
1437,1,2,0.1178,496.64,11.127263,22.43,717,8013.000000,10635,46.9,0,0,0

In [38]:
x_train=scalar.fit_transform(x_train)

In [39]:
x_test=scalar.transform(x_test)

In [40]:
from sklearn.tree import DecisionTreeClassifier

In [41]:
from sklearn.model_selection import GridSearchCV

In [47]:
param_grid={
    'criterion':['entropy','gini'],
    'max_depth':[None,10,20,30],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,4]
}

In [48]:
tree=DecisionTreeClassifier()

In [49]:
grid_search=GridSearchCV(tree,param_grid=param_grid,cv=10,scoring='accuracy',verbose=1,n_jobs=-1)

In [50]:
grid_search.fit(x_train,y_train)

Fitting 10 folds for each of 72 candidates, totalling 720 fits

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_depth': [None, 10, 20, 30],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]},
             scoring='accuracy', verbose=1)

In [51]:
best_parameter=grid_search.best_params_

In [52]:
print(best_parameter)

{'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2}

In [53]:
model=grid_search.best_estimator_

In [54]:
y_pred=model.predict(x_test)

In [55]:
from sklearn.metrics import accuracy_score,classification_report

In [56]:
print(accuracy_score(y_pred,y_test))

1.0

In [57]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1493

    accuracy                           1.00      1493
   macro avg       1.00      1.00      1.00      1493
weighted avg       1.00      1.00      1.00      1493

In [58]:
df_clean

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
9,1,2,0.1221,84.12,10.203592,10.00,707,2730.041667,5630,23.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7684,1,2,0.1348,379.95,10.752343,3.93,692,1470.000000,6372,52.2,1,0,0,0
7685,1,5,0.0714,247.52,10.819778,22.13,772,5430.041667,13088,42.6,0,0,0,0
7686,1,5,0.0988,161.06,10.833681,22.91,717,3690.000000,13232,63.9,1,0,0,0
7688,1,4,0.0788,450.44,11.474351,1.91,777,5820.000000,3351,0.4,2,0,0,0
7689,1,0,0.1025,194.31,10.819778,20.66,707,1920.000000,19882,51.2,2,0,0,0