In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('loan_data.csv')

In [3]:
df

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [4]:
df.describe()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()

In [7]:
df['purpose']=le.fit_transform(df['purpose'])

In [8]:
num_cols=df.select_dtypes(include=['float64','int64']).columns.tolist()

In [9]:
num_cols

['credit.policy',
 'int.rate',
 'installment',
 'log.annual.inc',
 'dti',
 'fico',
 'days.with.cr.line',
 'revol.bal',
 'revol.util',
 'inq.last.6mths',
 'delinq.2yrs',
 'pub.rec',
 'not.fully.paid']

In [10]:
Q1=df[num_cols].quantile(0.25)

In [11]:
Q3=df[num_cols].quantile(0.75)

In [12]:
IQR=Q3-Q1

In [13]:
outliers=((df[num_cols]<(Q1-1.5*IQR))|(df[num_cols]>(Q3+1.5*IQR))).any(axis=1)

In [14]:
df_clean=df[~outliers]

In [15]:
df.shape

(9578, 14)

In [16]:
df_clean.shape

(4975, 14)

In [17]:
df_clean

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,2,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,2,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,2,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
9,1,2,0.1221,84.12,10.203592,10.00,707,2730.041667,5630,23.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7684,1,2,0.1348,379.95,10.752343,3.93,692,1470.000000,6372,52.2,1,0,0,0
7685,1,5,0.0714,247.52,10.819778,22.13,772,5430.041667,13088,42.6,0,0,0,0
7686,1,5,0.0988,161.06,10.833681,22.91,717,3690.000000,13232,63.9,1,0,0,0
7688,1,4,0.0788,450.44,11.474351,1.91,777,5820.000000,3351,0.4,2,0,0,0
7689,1,0,0.1025,194.31,10.819778,20.66,707,1920.000000,19882,51.2,2,0,0,0

In [18]:
x=df_clean.drop(['not.fully.paid'],axis=1)

In [19]:
y=df_clean['not.fully.paid']

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.3)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scalar=StandardScaler()

In [24]:
x_train=scalar.fit_transform(x_train)

In [25]:
x_test=scalar.transform(x_test)

In [47]:
param_grid={
    'criterion':['entropy','gini'],
    'n_estimators':[50,100,150],
    'max_depth':[None,10,20,30],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,4]
}

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
model=RandomForestClassifier(random_state=42)

In [50]:
from sklearn.model_selection import GridSearchCV

In [51]:
grid_search=GridSearchCV(model,param_grid=param_grid,cv=5,scoring='accuracy',verbose=1,n_jobs=-1)

In [52]:
grid_search.fit(x_train,y_train)

Fitting 5 folds for each of 216 candidates, totalling 1080 fits

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42), n_jobs=-1,
             param_grid={'criterion': ['entropy', 'gini'],
                         'max_depth': [None, 10, 20, 30],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 100, 150]},
             scoring='accuracy', verbose=1)

In [53]:
best=grid_search.best_params_

In [54]:
print(best)

{'criterion': 'entropy', 'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 50}

In [55]:
model=grid_search.best_estimator_

In [56]:
data=pd.DataFrame(grid_search.cv_results_)

In [57]:
best=data[['param_max_depth','param_min_samples_leaf','param_min_samples_split','param_n_estimators','mean_test_score']].sort_values(by='mean_test_score',ascending=False)

In [58]:
best

,param_max_depth,param_min_samples_leaf,param_min_samples_split,param_n_estimators,mean_test_score
0,None,1,2,50,1.0
148,10,2,5,100,1.0
137,10,1,2,150,1.0
138,10,1,5,50,1.0
139,10,1,5,100,1.0
...,...,...,...,...,...
75,20,4,5,50,1.0
76,20,4,5,100,1.0
77,20,4,5,150,1.0
78,20,4,10,50,1.0
215,30,4,10,150,1.0

In [43]:
y_pred=model.predict(x_test)

In [44]:
from sklearn.metrics import accuracy_score,classification_report

In [45]:
print(accuracy_score(y_pred,y_test))

1.0

In [46]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1493

    accuracy                           1.00      1493
   macro avg       1.00      1.00      1.00      1493
weighted avg       1.00      1.00      1.00      1493