In [10]:
import numpy as np

In [6]:
import time 
start_time=time.time()
if 20>10:
    print(20) 
else:
    print('not True')
end_time=time.time()
print(end_time,start_time)

20
1712500144.7503495 1712500144.7503495

In [23]:
%%time
def multiply(x,y):
    result=[]
    for num in x:
        result.append(num*y)
    return result
x=[1,2,3,54,6,7,5,6,34,4,76,45,234,324,76,345,234,4,456,345,234,234,346,345,234,23,4234,234,234,24]
y=10
answer=multiply(x,y)
print(answer)

[10, 20, 30, 540, 60, 70, 50, 60, 340, 40, 760, 450, 2340, 3240, 760, 3450, 2340, 40, 4560, 3450, 2340, 2340, 3460, 3450, 2340, 230, 42340, 2340, 2340, 240]
CPU times: total: 0 ns
Wall time: 999 Âµs

In [24]:
%%time
def multiply(x,y):
    return x*y
x=np.array([1,2,3,54,6,7,5,6,34,4,76,45,234,324,76,345,234,4,456,345,234,234,346,345,234,23,4234,234,234,24])
y=10
answer=multiply(x,y)
print(answer)

[   10    20    30   540    60    70    50    60   340    40   760   450
  2340  3240   760  3450  2340    40  4560  3450  2340  2340  3460  3450
  2340   230 42340  2340  2340   240]
CPU times: total: 0 ns
Wall time: 0 ns